server:
  port: 8080
  servlet:
    context-path: /prolog/v2

spring:
  profiles:
    active: "@active-profile@"

  main:
    banner-mode: off

  # Evita que o processo do servidor seja restartado a cada vez que um arquivo observado mudar.
  devtools:
    restart:
      enabled: false

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  datasource:
    driver-class-name: org.postgresql.Driver

    hikari:
      connection-init-sql: "SET application_name = 'ProLog WS'"
      connection-test-query: "SELECT 1"

      idle-timeout: 60000
      auto-commit: true
      connection-timeout: 30000
      validation-timeout: 30000

logging:
  level:
    org:
      springframework: error

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    url: /prolog/v2/swagger.json
    operations-sorter: method