server:
  port: 8080
  servlet:
    context-path: /prolog/v2

spring:
  main:
    banner-mode: off
  datasource:
    platform: postgres
    driver-class-name: org.postgresql.Driver
  # Evita que o processo do servidor seja restartado a cada vez que um arquivo observado mudar.
  devtools:
    restart:
      enabled: false

logging:
  level:
    org:
      springframework: error

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    url: /prolog/v2/swagger.json