server:
  port: 8080
  servlet:
    context-path: /prolog/v2

spring:
  profiles:
    active: "@active-profile@"

  main:
    banner-mode: off
  # Evita que o processo do servidor seja restartado a cada vez que um arquivo observado mudar.
  devtools:
    restart:
      enabled: false

  datasource:
    platform: postgres
    driver-class-name: org.postgresql.Driver

    tomcat:
      init-s-q-l: "SET application_name = 'ProLog WS'"
      validation-query: "SELECT 1"
      test-while-idle: false
      test-on-borrow: false
      test-on-return: false
      max-active: 250
      initial-size: 25
      min-idle: 25
      max-idle: 125
      validation-interval: 30000
      time-between-eviction-runs-millis: 30000
      max-wait: 10000
      remove-abandoned-timeout: 320
      min-evictable-idle-time-millis: 60000
      log-abandoned: true
      remove-abandoned: true
      default-auto-commit: true
      jdbc-interceptors: >
        org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;
        org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer;
        org.apache.tomcat.jdbc.pool.interceptor.ResetAbandonedTimer

logging:
  level:
    org:
      springframework: error

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    url: /prolog/v2/swagger.json
    operations-sorter: method