prolog:
  version_code: "v2_1.5.3"
spring:
  profiles: prod
  datasource:
    url: "jdbc:postgresql://${prolog-rds-hostname}:${prolog-rds-port}/${prolog-rds-db-name}"
    username: "${prolog-rds-username}"
    password: "${prolog-rds-password}"
    hikari:
      maximum-pool-size: 190
sentry:
  dsn: "${sentry-dsn}"
  release: "${prolog.version_code}"
  enable-session-tracking: true
  attach-stacktrace: true
  in-app-excludes:
    - "sun"
    - "java"
    - "org"
  in-app-includes:
    - "br.com.zalf"