server:
  port: 8080
  servlet:
    context-path: /prolog/v2

spring:
  profiles:
    active: "@active-profile@"

  main:
    banner-mode: off
  # Evita que o processo do servidor seja restartado a cada vez que um arquivo observado mudar.
  devtools:
    restart:
      enabled: false

  datasource:
    platform: postgres
    driver-class-name: org.postgresql.Driver

    hikari:
      connection-init-sql: "SET application_name = 'ProLog WS'"
      connection-test-query: "SELECT 1"
      minimum-idle: 25
      maximum-pool-size: 250
      idle-timeout: 60000
      max-lifetime: 10000
      auto-commit: true
      connection-timeout: 2000

logging:
  level:
    org:
      springframework: error

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    url: /prolog/v2/swagger.json
    operations-sorter: method