database:
  properties:
    host: "teste-prolog-48.c9sc1w2qsese.us-east-1.rds.amazonaws.com"
    port: "5432"
    name: "prolog_database_julho"
  connection:
    user: "prolog_user_diego"
    password: "aferequevai"

spring:
  profiles: dev
  datasource:
    url: "jdbc:postgresql://${database.properties.host}:${database.properties.port}/${database.properties.name}"
    username: "${database.connection.user}"
    password: "${database.connection.password}"
    hikari:
      maximum-pool-size: 10
logging:
  level:
    root: debug
    org: info
    sun: info
    io: info
    jdk: info
    javax:
      management:
        remote:
          rmi: info
    org.hibernate.SQL: debug